{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}

{% block body %}
	{% for flashError in app.flashes('verify_email_error') %}
		<div class="alert alert-danger" role="alert">{{ flashError }}</div>
	{% endfor %}

	<main style="font-family: roboto; margin-left: auto; margin-right: auto; width: 50%; text-align: center; margin-top: 100px";>
		<a href="#" style="color: #386CFC; text-decoration: none;font-style: normal; font-weight: bold;  font-size: 24px";>SPORT<span style="color: #FC9D44;">IN</span></a>

		<section>
			<h1 class="titre" >Inscription</h1>
			<p style="color: #386CFC">C'est rapide et Façile</p>
		</section>

		<section style="border: 2px solid #FC9D44; box-sizing: border-box; box-shadow: 0px 4px 4px rgba(0,0,0,0.25); border-radius: 10px; margin-left: 30%;  margin-right: 30%; ";>        
        {{ form_start(registrationForm) }}
		
        <section style="margin: 20px">{{ form_row(registrationForm.pseudo) }}</section>
		
        <section style="margin: 20px">{{ form_row(registrationForm.email) }}</section>
		
        <section style="margin: 20px">{{ form_row(registrationForm.plainPassword, {
            label: 'Mot de passe'
        }) }}</section>
		
        <section style="margin: 20px">{{ form_row(registrationForm.birthDate, {
            label: 'Date de naissance'
        }) }}</section>
		
        <section style="margin: 20px">{{ form_row(registrationForm.gender, {
            label: 'Genre'
        }) }}</section>
		
        <section style="margin: 20px; font-size: 10px">{{ form_row(registrationForm.agreeTerms, {
            label: "En cochant cette case, vous acceptez nos Conditions générales. Découvrez comment nous recueillons, utilisons et partageons vos données en lisant notre Politique d'utilisation des données et comment nous utilisons les cookies et autres technologies similaires en consultant notre Politique d'utilisation des cookies et vous pouvez à tout moment vous désabonnez. "
        }) }}</section>
		
        <button type="submit" class="btn">M'inscrire</button>
		{{ form_end(registrationForm) }}
        </section>
	</main>

{% endblock %}
