{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <h1 class="titre">Inscription</h1>

    {# <label class="switch">
    <input type="checkbox" name="statut">
    <span class="slider round"></span>
    </label> #}

    
    {{ form_start(registrationForm) }}
        {# {{ form_row(registrationForm.statut) }} #}
        {{ form_row(registrationForm.pseudo) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Mot de passe'
        }) }}
        {{ form_row(registrationForm.birthDate, {
            label: 'Date de naissance'
        }) }}
        {{ form_row(registrationForm.gender, {
            label: 'Genre'
        }) }}
        {{ form_row(registrationForm.agreeTerms, {
            label: "En cochant cette case, vous acceptez nos Conditions générales. Découvrez comment nous recueillons, utilisons et partageons vos données en lisant notre Politique d'utilisation des données et comment nous utilisons les cookies et autres technologies similaires en consultant notre Politique d'utilisation des cookies et vous pouvez à tout moment vous désabonnez. "
        }) }}
        <button type="submit" class="btn">M'inscrire</button>
    {{ form_end(registrationForm) }}

{% endblock %}  
