{% extends 'parent.html.twig' %}

{% block title %}Profil
{% endblock %}

{% block bodyMembre %}
	<header>
		<nav class="profil_menu">
		<a href="{{ path('index') }}"><img class="profil_menu__logo" src="{{ asset('uploads/images/logo.png') }}" alt="Logo"></a>
		<ul>
			{# <li class="profil_menu__item profil_menu__item--active"><a class="profil_menu__link" href="{{ path('user_new') }}">Blog</a></li> #}
			<li><a href="{{ path('blog') }}">Blog</a></li>
			<li><a href="{{ path('contact') }}">Faq</a></li>
			<li><a href="">Rechercher</a></li>
			<li><a href=""></a></li>
			<li><a href=""><img class="profil_menu__logos" src="{{ asset('uploads/svg/profil.svg') }}" alt="photo-profil"></a></li>
		</ul>
		</nav>
		<!-- slider -->

		<div
			class="profil_banniere">
			<!-- bannière -->

			<img class="profil_diapo__banniere" src="{{ asset('../uploads/images/banniere_profil.jpg') }}" alt="photo-fond">

			<div class="profil_description">
				<img class="profil_diapo__profil" src="{{ asset('../uploads/images/profil1.jpg') }}" alt="photo-profil">

				<div class="profil_texte__profil">
					<h2 class="pseudo">
						{{ app.user.username }}</h2>
					<p>{{ app.user.birthDate|date('Y ') }}</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pretium pretium tempor. Ut eget imperdiet neque. In volutpat ante semper diam molestie, et aliquam .</p>
				</div>
			</div>
			<!-- texte_profil -->

		</div>
		<!-- bannière -->

		<nav class="profil_nav__banniere">
			<div>
				<a href="{{ path('user_new') }}">profil</a>
				<a href="{{ path('amis') }}">amis</a>
				<a href="{{ path('defis') }}">défis réalisés</a>
				<a href="{{ path('membre') }}">événements participés</a>
			</div>
			<div>
				<a href=""></a>
				<a href="{{ path('partager') }}">partager</a>
			</div>
		</nav>
	</header>

	<main class="profil_detail">
		<section>
			<article>
				<h2>à propos de moi</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pretium pretium tempor. Ut eget imperdiet neque. In volutpat
				</p>
				<p>{{ app.user.description }}</p>
			</article>
			<article>
				<h2>sports favoris</h2>
				<ul id="profil_symbol">
					<div class="profil_li">
						<li><img class="profil_symbol__sport" src="{{ asset('uploads/svg/basket.svg') }}" alt="symbol_basket">Basket</li>
					</div>
					<div class="profil_li">
						<li><img class="profil_symbol__sport" src="{{ asset('uploads/svg/tennis.svg') }}" alt="symbol_tennis">
							Tennis</li>
					</div>
					<div class="profil_li">
						<li><img class="profil_symbol__sport" src="{{ asset('uploads/svg/football.svg') }}" alt="symbol_football">Football</li>
					</div>
					<div class="profil_li">
						<li><img class="profil_symbol__sport" src="{{ asset('uploads/svg/muscu.svg') }}" alt="symbol_musculation">Musculation</li>
					</div>
					<div class="profil_li">
						<li><img class="profil_symbol__sport" src="{{ asset('uploads/svg/running.svg') }}" alt="symbol_running">running</li>
					</div>
					<div class="profil_li">
						<li>Plongée sous-marine</li>
					</div>
				</ul>
			</article>


			<article>
				<div>
					<h2>Défis en cours
						{{ app.user.nbEvents }}
					</h2>

				</div>
				<div class="profil_defis">
					<div>
						<h3>Titre du défis</h3>
						<p>Créer le 1 mars 2021
						</p>
						{# <p>Créer le {{ app.challenge.createdAt }} </p> #}
						<p>Accepter le
						</p>
						{# <p>Accepter le {{ app.challenge.dateValidation }}</p> #}


					</div>

					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pretium pretium tempor. Ut eget imperdiet neque. In volutpat
					</p>
				</div>
				<p>Nombre de point mis en jeux : 10 xp</p>
				{# <p>Nombre de point mis en jeux : {{ app.challenge.xpWinner }}</p> #}


			</article>
		</section>
		<section>
			<article class="profil_progression">
				<h2>progression</h2>
				<img class="profil_progression__niveau" src="{{ asset('uploads/svg/level.svg') }}" alt="symbol_niveau">
				<p>Niveau 6</p>
				<div class="profil_niveau">
					<p>Prochain niveau</p>
					<p>07/28 xp</p>
					</div>
					<label for="file"></label>
<progress id="file" max="100" value="25"> 25% </progress>
				
			</article>

			<button class="profil_bouton__creer">
				<a href="{{ path('challenge_new') }}">créer un défi</a>
			</button>
			<button class="profil_bouton__creer">
				<a href="{{ path('event_new') }}">créer un événement</a>
			</button>

		</section>
	</main>
	<!-- fin du corps -->


{% endblock %}
