{% extends 'parent.html.twig' %}

{% block title %}Profil{% endblock %}

{% block bodyMembre %}
    <header>
      <!-- slider -->
    
        <div class="banniere">
      <!-- bannière -->
      
            <img class="diapo_banniere" src="{{ asset('../uploads/images/banniere_profil.jpg') }}" alt="photo-fond">
            <img class="diapo_profil" src="{{ asset('../uploads/images/profil1.jpg') }}" alt="photo-profil">

            <div class="texte_profil">
            <h2 class="pseudo"> {{ app.user.username }}</h2>
            <p>{{ app.user.birthDate|date('d-m-Y ') }}</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pretium pretium tempor. Ut eget imperdiet neque. In volutpat ante semper diam molestie, et aliquam erat laoreet. Sed sit amet arcu aliquet, molestie justo at, auctor nunc.</p>
            </div><!-- texte_profil -->
            
        </div><!-- bannière -->
    
         <nav class="nav_banniere">
            <div>
            <a href="{{ path('user_new') }}">profil</a>
            <a href="{{ path('amis') }}">amis</a>
            <a href="{{ path('defis') }}">défis réalisés</a>
            <a href="{{ path('membre') }}">événements participés</a>
            </div>
            <div>
            <a href=""></a>
            <a href="{{ path('partager') }}">partager</a>
            </div>
        </nav>
       </header>

       <main>
    <section>
      <article>
          <h2>à propos de moi</h2>
          <p>{{ app.user.description }}</p>
    </article>
    <article>
          <h2>sports favoris</h2>
          <ul>
             <li class="">Football</li>
              <li class="">Surf</li>
              <li class="">Escalade</li>
              <li class="">Ski</li>
              <li class="">Kayak</li>
              <li class="">Spéléologie</li>
              <li class="">Plongée sous-marine</li>
            </ul>
    </article>

  
      <article>
            <div>
            <h2>Défis en cours</h2>
            <h2>Nombre de défis</h2>
            </div>
            <div>
            <h3>Titre du défis</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pretium pretium tempor. Ut eget imperdiet neque. In volutpat </p>
            <ul>
             <li >Créer le "date"</li>
              <li >Accepter le "date fin"</li>
              <li>Nombre de point mis en jeux: 10 xp</li>
            </ul>
            </div>
      </article>
  </section>
  <section>
      <article>
            <h2>progression</h2>
                    <img src="./img" alt="image niveau">
                    <div>
                        <p>Prochain</p>
                        <p>07/28 xp</p>  
                    </div>
                </article>
              
      
     <button class= "bouton_creer"> <a href="{{ path('challenge_new') }}">créer un défi</a></button>
     <button class= "bouton_creer"> <a href="{{ path('event_new') }}">créer un événement</a></button>
      
    
    </section>
  </main><!-- fin du corps -->


      

{% endblock %}
