{% extends 'parent.html.twig' %}

{% block titre1 %}

<section>
    <div class="diaporama">
        <img class="diaporama__image" src="{{ asset('uploads/images/banniere event.jpg')}}" alt="Fond">
        <div class="diapo__event">
            <h1><pan class="bleu">DECOUVREZ TOUS LES EVENEMENTS ORGANISES<pan></h1>
                <p><pan class="orange"> DANS VOTRE REGION :</pan></p> 
            <label>
                <input class="bleu" name="ville" type="text" required placeholder="Rechercher une ville">
                <div><pan class="bleu">Pour rechercher dans votre ville, vous devez être connecté.<pan></div>
            </label>
        
            <button id="button">{{ button_label|default('Rechercher') }}</button>
        </div>
    </div>
</section>
{% endblock %}

{# 2ème partie de la page #}
{% block titre2 %}

    <section class="event"> <!-- Our Team-->
        <h2 class="event__title" class="orange">Les événements de la semaine :</h2>
        <div class="event__grid"> <!-- Grid-->
            <figure class="event__member">
                <img class="event__picture" src="{{ asset('uploads/images/photo_event.png')}}" alt="Reena Scot">
                <figcaption class="event__couleur">
                    <h3>Trophée de l'aiguille</h3>
                    <p>Adresse : pic d'Etretat</p>
                    <p>Ville : Etretat</p>
                </figcaption> 
            </figure>
            <figure class="event__member">
                <img class="event__picture" src="{{ asset('uploads/images/photo_event.png')}}" alt="David Martin">
                <figcaption>
                    <h3>Loto sportif</h3>
                    <p>Adresse : Casino Royal</p>
                    <p>Ville : Las Vegas</p>
                </figcaption>
            </figure>
            <figure class="event__member">
                <img class="event__picture" src="{{ asset('uploads/images/photo_event.png')}}" alt="Jenefir White">
                <figcaption>
                    <h3>Gouter anglais</h3>
                    <p>Adresse : 10 Downing Street </p>
                    <p>Ville : Londres</p>
                </figcaption>
            </figure>

        </div> <!-- Grid--> 
    </section>
{% endblock %}

{% block titre3 %}

    <section class="event"> <!-- Our Team-->
        <h2 class="event__title" class="orange">Les défis de la semaine : </h2>
        <div class="event__grid"> <!-- Grid-->

            <figure class="event__member">
                <img class="event__picture" src="{{ asset('uploads/images/photo_event.png')}}" alt="Reena Scot">
                <figcaption>
                <h3>Lancé du sachet de Thé</h3>
                <p>Adresse : 10 Downing Street </p>
                <p>Ville : Londres</p>
                </figcaption>
            </figure>
            <figure class="event__member">
                <img class="event__picture" src="{{ asset('uploads/images/photo_event.png')}}" alt="David Martin">
                <figcaption>
                <h3>Jeux celtiques</h3>
                <p>Adresse : plage de erquy</p>
                <p>Ville : Erquy</p>
                </figcaption>
            </figure>
            <figure class="event__member" >
                <img class="event__picture" src="{{ asset('uploads/images/photo_event.png')}}" alt="Jenefir White">
                <figcaption>
                <h3>Descente libre</h3>
                <p>Adresse : Piste d'altitude</p>
                <p>Ville : Chamonix</p>
                </figcaption>
            </figure>
        </div> <!-- Grid--> 
    </section>
{% endblock %}

{% block titre4 %}
<h1 class="orange">Partenaires de nos événements : </h1>
    <div id="sponsor">
        <div id="sponsor_ecart"><img id="sponsor_image" src="{{ asset('uploads/images/marseille.png')}}" alt="photo4"></div>
        <div id="sponsor_image"><img id="sponsor_image" src="{{ asset('uploads/images/nike.png')}}" alt="photo5"></div>
        <div id="sponsor_image"><img id="sponsor_image" src="{{ asset('uploads/images/fitnessboutique.png')}}" alt="photo6"></div>
        <div id="sponsor_image"><img id="sponsor_image" src="{{ asset('uploads/images/albi.png')}}" alt="photo8"></div>
        <div id="sponsor_image"><img id="sponsor_image" src="{{ asset('uploads/images/decathlon.png')}}" alt="photo9"></div>
    </div>
{% endblock %}

{% block titre5 %}

    <section class="event"> <!-- Our Team-->
        <h2 class="event__title" class="orange">Actualités sportives : </h2>
        <div class="event__grid"> <!-- Grid-->

            <figure class="event__member">
                <img class="event__picture" src="{{ asset('uploads/images/photo_event.png')}}" alt="Reena Scot">
                <figcaption>
                <h3>Court Forest Gump</h3>
                <p>Adresse : 10 rue droit devant </p>
                <p>Ville : Paris</p>
                </figcaption>
            </figure>
            <figure class="event__member">
                <img class="event__picture" src="{{ asset('uploads/images/photo_event.png')}}" alt="David Martin">
                <figcaption>
                <h3>Courses des Barmans</h3>
                <p>Adresse : Place de la mairie</p>
                <p>Ville : Lyons</p>
                </figcaption>
            </figure>
            <figure class="event__member" >
                <img class="event__picture" src="{{ asset('uploads/images/photo_event.png')}}" alt="Jenefir White">
                <figcaption>
                <h3>Concours de Deltaplane</h3>
                <p>Adresse : Gorges de l'Ardèche</p>
                <p>Ville : Annonay</p>
                </figcaption>
            </figure>
        </div> <!-- Grid--> 
    </section>
<br>
<br>
{% endblock %}

