<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mon Projet Symfony</title>
    <link rel="stylesheet" href="css/styles.css">

    {% block carte1 %}
    {% endblock %}

</head>
<body>
    <header>
        <nav>
            <a><img src="../uploads/images/logo.PNG" alt="logo"></a>
            <a href="{{ path('index') }}">CONCEPT</a>
            <a href="{{ path('defis') }}">DERNIERS_DEFIS</a>
            <a href="{{ path('blog') }}">BLOG</a>
            <a href="{{ path('faq') }}">FAQ</a>
            <a href="{{ path('contact') }}">CONTACT</a>
            <a href="{{ path('participer') }}">PARTICIPER AU JEU</a>
        </nav>
    </header>
        <section>
            {% block titre1 %}
            {% endblock %}

            {% block titre2 %}
            {% endblock %}

            {% block annonces1 %}
            {% endblock %}

            {% block titre3 %}
            {% endblock %}

            {% block titre4 %}
            {% endblock %}

            {% block annonces2 %}
            {% endblock %}

            {% block photo1 %}
            {% endblock %}

            {% block titre5 %}
            {% endblock %}

            {% block titre6 %}
            {% endblock %}

            {% block annonces3 %}
            {% endblock %}

            {% block annonces4 %}
            {% endblock %}

            {% block titre7 %}
            {% endblock %}

            {% block annonces5 %}
            {% endblock %}

            {% block titre8 %}
            {% endblock %}

            {% block annonces6 %}
            {% endblock %}

            {% block formulaire %}
            {% endblock %}

            {% block carte2 %}
            {% endblock %}


        </section>
    </main>
    <footer>
        <p>&copy;2020_2021 - Site SportIn. Reproduction interdite.</p>
    </footer>
    <script src="{{ asset('js/anime.min.js') }}"></script>
    <script src="{{ asset('js/script.js') }}"></script>
    {% block monjs %}
    {% endblock %}
</body>
</html>