<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mon Projet Symfony</title>
    <link rel="stylesheet" href="css/styles.css">

    {% block carte1 %}
    {% endblock %}

</head>
<body>
    <header>
        <nav>
            <a href="{{ path('index') }}">accueil</a>
            <a href="{{ path('concept') }}">annonces</a>
            <a href="{{ path('blog') }}">Blog</a>
            <a href="{{ path('contact') }}">contact</a>
        </nav>
    </header>
        <section>
            {% block titre1 %}
            {% endblock %}

            {% block titre2 %}
            {% endblock %}

#

            {% block annonces %}
            {% endblock %}

            {% block photo1 %}
            {% endblock %}

            {% block formulaire %}
            {% endblock %}

            {% block carte2 %}
            {% endblock %}


        </section>
    </main>
    <footer>
        <p>tous droits réservés</p>
    </footer>
    <script src="{{ asset('js/anime.min.js') }}"></script>
    <script src="{{ asset('js/script.js') }}"></script>
    {% block monjs %}
    {% endblock %}
</body>
</html>