<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mon Projet Symfony</title>
    <link rel="stylesheet" href="css/styles_bruno.css">
    <link rel="stylesheet" href="css/styles_yanis.css">
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css" >
    {% block carte1 %}
    {% endblock %}

</head>
<body>
    <header>
        <nav>
            <a><img src="../uploads/images/logo.png" alt="logo"></a>
            <a href="{{ path('index') }}">CONCEPT</a>
            <a href="{{ path('defis') }}">DERNIERS_DEFIS</a>
            <a href="{{ path('blog') }}">BLOG</a>
            <a href="{{ path('faq') }}">FAQ</a>
            <a href="{{ path('contact') }}">CONTACT</a>
            <a href="{{ path('participer') }}">PARTICIPER AU JEU</a>
        </nav>
            {% if app.user %}
               <div class="mb-3">
                    Bienvenue {{ app.user.username }}, <a href="{{ path('app_logout') }}">Déconnexion</a>
                </div>
            {% endif %}
        <nav>
        <a href="{{ path('app_login') }} ">Connexion</a>
        </nav>
        


    </header>
        <section>
            {% block titre1 %}
            {% endblock %}

            {% block formulaire1 %}
            {% endblock %}

            {% block titre2 %}
            {% endblock %}

            {% block annonces1 %}
            {% endblock %}

            {% block titre3 %}
            {% endblock %}

            {% block titre4 %}
            {% endblock %}

            {% block annonces2 %}
            {% endblock %}

            {% block photo1 %}
            {% endblock %}

            {% block titre5 %}
            {% endblock %}

            {% block titre6 %}
            {% endblock %}

            {% block annonces3 %}
            {% endblock %}

            {% block annonces4 %}
            {% endblock %}

            {% block titre7 %}
            {% endblock %}

            {% block annonces5 %}
            {% endblock %}

            {% block titre8 %}
            {% endblock %}

            {% block annonces6 %}
            {% endblock %}

            {% block carte2 %}
            {% endblock %}


        </section>
    </main>
    <footer>
    <nav class="footerColor">
        <li><h2>NOUS SUIVRE : </h2></li>
        <li><a href="https://facebook.com"><i class="lab la-facebook-f"></i></a></li>
        <li><a href="https://twitter.com"><i class="lab la-twitter"></i></a></li>
        <li><a href="https://instagram.com"><i class="lab la-instagram"></i></a></li>
        <li><a href="https://youtube.com"><i class="lab la-youtube"></i></a></li>
        <li><a href="https://pinterest.com"><i class="lab la-pinterest"></i></li>
    </nav>
    <section class="colorSection">
    <article>
        <h2>SPORTIN</h2>
        <li><a href="#">Connexion</a></li>
        <li><a href="#">Inscription</a></li>
        <li><a href="{{ path('index') }}">Concept</a></li>
        <li><a href="{{ path('defis') }}">Derniers défis</a></li>
    </article>
    <article>
        <h2>Communauté</h2>
        <li><a href="#">Avis & témoignages</a></li>
        <li><a href="#">Le groupe Facebook</a></li>
        <li><a href="#">Notre chaine youtube</a></li>
    </article>
    <article>
        <h2>Informations</h2>
        <li><a href="{{ path('contact') }}">Contact</a></li>
        <li><a href="#">A propos</a></li>
        <li><a href="{{ path('faq') }}">FAQ</a></li>
        <li><a href="#">Devenez rédacteur</a></li>
    </article>
    </section>

        <p class="footerColor">Copyright &copy; 2021 www.sportin.com - Mentions légales - Politique de confidentialité - Plan du site - Reproduction interdite.</p>
    </footer>
    <script src="{{ asset('js/anime.min.js') }}"></script>
    <script src="{{ asset('js/script.js') }}"></script>
    {% block monjs %}
    {% endblock %}
</body>
</html>